<ul>
    <% events.forEach(function(event) { %>
        <li>
            <strong><%= event.name %></strong><br>
            <em>Date </em>: <%= event.date %> <br>
            <em>Type of Event : </em> <%= event.type %> <br>
            <em>Attendees : </em> <%= event.attendees %> <br><br>
        </li>
    <% }); %>
</ul>