<!-- body partial for table of events -->
<table class="content-table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% events.forEach(function(event) { %>
        <tr class="active-row">
            <th><%= event.name %></th>
            <th><%= event.description %></th>
            <th><%= event.date %></th>
        </tr>
        <%});%>
    </tbody>
</table>
