<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css">
    <title>Admin Event Registration</title>
</head>
<body>
    <%- include('../partials/body') %>
    <%- include('../partials/footer') %>
</body>
</html>